.contact {
	background-color: #fafafa;
	height: 660px;
	.title {
		margin: 100px 0 50px;
		h2 {
			font-weight: 600;
			font-size: 45px;
			text-align: center;
		}
		p {
			font-weight: 400;
			font-size: 15px;
			color: #b0bec5;
			width: 557px;
			margin: 0 auto;
			text-align: center;
		}
	}
	.contact_form_wrap {
		margin: 0 auto;
		font-weight: 500;
		font-size: 14px;
		.form-row {
			margin: 0;
		}
		.margin-input {
			margin: 10px 0;
			input {
				padding: 20px;
				background-color: transparent;
			}
		}
		textarea {
			max-height: 140px;
			background-color: transparent;
		}
	}
	button {
		padding: 10px 40px;
		font-weight: 700;
		font-size: 15px;
		text-transform: uppercase;
		color: white;
		background-color: #1de9b6;
		border: none;
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	}
}
