.business{
    background-color: rgb(128, 216, 255);
}
.downloads{
    background-color: rgb(130, 177, 255);
}
.person{
    background-color: rgb(179, 136, 255);
    h4{
        width: 119px;
    }
}
.proUsers{
    background-color: rgb(234, 128, 252);
}

.counts_wrap{
    display: flex;
}

.counts_wrap{
    padding: 45px 120px;
     img{
         margin-right: 29px;
    }
    h4{
        font-weight: 800;
        font-size: 20px;
        color:white;
    }
}