.footer{
    height: 300px;
    background-color: #061e37;
    li{
        display: inline;
        color: white;
        a{
            color: grey;
            padding: 0 20px;
        }
    }
    .footer-wrap{
        margin-top: 100px;
        .footer-logo{
            margin-bottom: 50px;
        }
        .footer-list{
            padding-left: 0;
            margin-left: -20px;
        }
        .nav{
            .nav-link{
                margin: 0;
            }
        }
        .social{
            margin-top: 60px;
        }
    }
}

