.services{
    .services-text-wrap{
        margin: 100px 0 50px;
        h2{
            font-weight: 600;
            font-size: 45px;
            text-align: center;
            }
            p{
                font-weight: 400;
                font-size: 15px;
                color: #b0bec5;
                width: 557px;
                margin: 0 auto;
                text-align: center;
            }
    }
    
}

.accordion{
    margin-bottom: 100px;
}



button{
    text-transform: uppercase;
    font-size: 15px!important;
    font-weight: 600!important;
    img{
        width: 18px !important;
        height: 15px !important;
    }
}

.card-body{
    display: flex;
    text-align: left!important;
    flex-wrap: nowrap!important;
    img{
        width: 250px;
        height: 155px;
    }
    p{
        padding-left: 25px;
    }
}

.card{
    border: 1px solid transparent;
    min-width: 415px;
    max-width: 850px;
    .show, .collapse{
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
        margin: 10px 0;
    }
    .card-header{
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 10px 10px;
        background-color: #ffff;
        margin-bottom: 20px!important;
        button:focus{
            box-shadow:none;
        }
    }
}


