.avatar{
    .col{
        border-radius: 20px;
    }
}

.testimonials{
    background-image: linear-gradient( 143deg, rgba(0,184,212, 0.8) 0%, rgba(29,233,182, 0.8) 100%),
                      url(../img/testimonials-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 565px;
    .testimonials-content{
        // padding-top: 100px;
        .testimonials-text-wrap{
            margin-top: 135px;
            color: white;
            h1{
                margin-bottom: 30px;
                font-weight: 600;
                font-size: 45px;
            }
            p{
                margin: 0;
                font-weight: 600;
                font-size: 15px;
            }
            button{
                margin-top: 70px;
                padding: 20px 30px;
                background-color: #061e37;
            }
        }
        .testimonials-avatar-wrap{
            margin-top: 35px;
            .avatar{
                margin: 35px 0;
                margin-right: 20px;
                img{
                    margin-top: 50px;
                }
                .avatar-bg{
                    background-color: white;
                    border-radius: 5px;
                    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
                    padding: 20px 30px;
                    h5{
                        color:black;
                        font-weight: bold;
                        font-size: 18px;
                    }
                    p{
                        font-weight: normal;
                        font-size: 15px;
                        color: #bec9ce;
                        font-style: italic;
                    }
                }
            }
        }
    }
    
}
